build/
nohup.out
eclipse-log/
.classpath
.project
/bin
.DS_Store
*.class
*.swp
*.swo
worker/
chord_output/
chord_output_r2/
intra.txt
bddbddb
classes/
after
markJava.log
markJavaZxing.log
scimark2.txt
sobel.txt
smm.txt
zxing.txt
simpleRaytracer.txt
mc.txt
sor.txt
fft.txt
lu.txt
jmeint.txt
simple.txt
*-bc-offset.info
*.pyc
src-marked/
