*.gz filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.svn-base filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
/chord/tags filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.eps filter=lfs diff=lfs merge=lfs -text
*.out filter=lfs diff=lfs merge=lfs -text
*.d filter=lfs diff=lfs merge=lfs -text
/apps/fft/log filter=lfs diff=lfs merge=lfs -text
/apps/lu/log filter=lfs diff=lfs merge=lfs -text
/apps/mc-enerj/log filter=lfs diff=lfs merge=lfs -text
/apps/mc/log filter=lfs diff=lfs merge=lfs -text
/apps/simpleRaytracer/log filter=lfs diff=lfs merge=lfs -text
/apps/smm-enerj/log filter=lfs diff=lfs merge=lfs -text
/apps/smm/log filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
/apps/sor-enerj/log filter=lfs diff=lfs merge=lfs -text
/apps/sor/log filter=lfs diff=lfs merge=lfs -text
*.info filter=lfs diff=lfs merge=lfs -text
/apps/zxing/log filter=lfs diff=lfs merge=lfs -text
*.expax filter=lfs diff=lfs merge=lfs -text
/apps/jmeint-enerj/log filter=lfs diff=lfs merge=lfs -text
/apps/sobel/log filter=lfs diff=lfs merge=lfs -text
/apps/jmeint/log filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
